### ECE475 Freq Machine Learning Recommendation System Assignment
Jing Jiang

I used MovieLens 100K dataset (MovieLens Small) in this assignment <br>
See https://grouplens.org/datasets/movielens/

In [4]:
import numpy as np
import pandas as pd

import os

r = pd.read_csv("./ml-latest-small/ratings.csv")
m = pd.read_csv("./ml-latest-small/movies.csv")

In [5]:
r.shape

(100836, 4)

In [6]:
m.shape

(9742, 3)

#### Matrix Factorization

In [7]:
x = r.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
x.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
X = x.as_matrix()
rating_mean = np.mean(X, axis = 1)
X_demean = X - rating_mean.reshape(-1, 1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

#### Using SVD to predict

In [9]:
# SVD (Singular Value Decomposition)
from scipy.sparse.linalg import svds
u, sigma, vt = svds(X_demean, k = 50)
sigma = np.diag(sigma)

In [10]:
pred_rating = np.dot(np.dot(u, sigma), vt) + rating_mean.reshape(-1, 1)
preds = pd.DataFrame(pred_rating, columns = x.columns)

#### Recommendation Function

In [20]:
# Get and construct the user's rating data
def getRated(user, movies, ratings):
    user_data = ratings[ratings.userId == (user)]
    user_info = (user_data.merge(movies, how = 'left', left_on = 'movieId', 
                                 right_on = 'movieId').sort_values(['rating'], ascending=False))
    return user_info

In [21]:
# Predict the movies that the user may like in the list of movies he hasn't watched.
def recommend(pred, user_info, movies, num_recommendations=5):
    urow = user_info['userId'][0] - 1
    sorted_pred = pred.iloc[urow].sort_values(ascending=False)
    
    recommendations = (movies[~movies['movieId'].isin(user_info['movieId'])].
                       merge(pd.DataFrame(sorted_pred).reset_index(), how = 'left',
                              left_on = 'movieId', right_on = 'movieId').
                       rename(columns = {urow: 'predictions'}).
                       sort_values('predictions', ascending = False).
                       iloc[:num_recommendations, :-1])

    return recommendations

#### Recommendation Example
Let's say we want to make recommendations to User with ID number 2

In [24]:
user2 = getRated(2, m, r)
user2
# This is the list of movies user2 has rated. He has rated 29 movies.
# This guy actually has a good taste of movie. Mad Max Fury Road was awesome!

,userId,movieId,rating,timestamp,title,genres
28,2,131724,5.0,1445714851,The Jinx: The Life and Deaths of Robert Durst ...,Documentary
27,2,122882,5.0,1445715272,Mad Max: Fury Road (2015),Action|Adventure|Sci-Fi|Thriller
22,2,106782,5.0,1445714966,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama
18,2,89774,5.0,1445715189,Warrior (2011),Drama
9,2,60756,5.0,1445714980,Step Brothers (2008),Comedy
16,2,80906,5.0,1445715172,Inside Job (2010),Documentary
2,2,1704,4.5,1445715228,Good Will Hunting (1997),Drama|Romance
8,2,58559,4.5,1445715141,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
10,2,68157,4.5,1445715154,Inglourious Basterds (2009),Action|Drama|War
15,2,80489,4.5,1445715340,"Town, The (2010)",Crime|Drama|Thriller
1,2,333,4.0,1445715029,Tommy Boy (1995),Comedy
24,2,112552,4.0,1445714882,Whiplash (2014),Drama
17,2,86345,4.0,1445715166,Louis C.K.: Hilarious (2010),Comedy
14,2,79132,4.0,1445714841,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
12,2,74458,4.0,1445714926,Shutter Island (2010),Drama|Mystery|Thriller
7,2,48516,4.0,1445715064,"Departed, The (2006)",Crime|Drama|Thriller
6,2,46970,4.0,1445715013,Talladega Nights: The Ballad of Ricky Bobby (2...,Action|Comedy
4,2,6874,4.0,1445714952,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
3,2,3578,4.0,1445714885,Gladiator (2000),Action|Adventure|Drama
19,2,91529,3.5,1445714891,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX
21,2,99114,3.5,1445714874,Django Unchained (2012),Action|Drama|Western
5,2,8798,3.5,1445714960,Collateral (2004),Action|Crime|Drama|Thriller
26,2,115713,3.5,1445714854,Ex Machina (2015),Drama|Sci-Fi|Thriller
13,2,77455,3.0,1445714941,Exit Through the Gift Shop (2010),Comedy|Documentary
11,2,71535,3.0,1445714974,Zombieland (2009),Action|Comedy|Horror
23,2,109487,3.0,1445715145,Interstellar (2014),Sci-Fi|IMAX
0,2,318,3.0,1445714835,"Shawshank Redemption, The (1994)",Crime|Drama
20,2,91658,2.5,1445714938,"Girl with the Dragon Tattoo, The (2011)",Drama|Thriller
25,2,114060,2.0,1445715276,The Drop (2014),Crime|Drama|Thriller

In [25]:
user2_pred = recommend(preds, user2, m, 15)
user2_pred
# We made 15 recommendations for User2 that he hasn't rated before. The movies are listed below.

,movieId,title,genres
2223,2959,Fight Club (1999),Action|Crime|Drama|Thriller
1936,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
7398,80463,"Social Network, The (2010)",Drama
312,356,Forrest Gump (1994),Comedy|Drama|Romance|War
8850,134130,The Martian (2015),Adventure|Drama|Sci-Fi
508,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller
6323,48780,"Prestige, The (2006)",Drama|Mystery|Sci-Fi|Thriller
3634,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
7032,69122,"Hangover, The (2009)",Comedy|Crime
4795,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
8663,122904,Deadpool (2016),Action|Adventure|Comedy|Sci-Fi
6912,64614,Gran Torino (2008),Crime|Drama
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
7028,68954,Up (2009),Adventure|Animation|Children|Drama
8450,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi